body {background: rgb(30,87,153);
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 16%, rgba(32,124,202,1) 34%, rgba(32,124,202,1) 34%, rgba(89,168,229,1) 62%, rgba(30,87,153,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 16%,rgba(32,124,202,1) 34%,rgba(32,124,202,1) 34%,rgba(89,168,229,1) 62%,rgba(30,87,153,1) 100%);
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 16%,rgba(32,124,202,1) 34%,rgba(32,124,202,1) 34%,rgba(89,168,229,1) 62%,rgba(30,87,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=0 );
);
font-family: Arial, helvetica, sans-serif ;
    font-size: 14px;

}
ul { list-style: none}

#chat {min-width: 590px; max-width: 940px; height: 870px;
    background: rgb(254,252,234);
    background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%,
    rgba(252,242,151,1) 82%, rgba(239,224,124,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,
    rgba(252,242,151,1) 82%,rgba(239,224,124,1) 100%);
    background: linear-gradient(to bottom,  rgba(254,252,234,1) 0%,
    rgba(252,242,151,1) 82%,rgba(239,224,124,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea',
    endColorstr='#efe07c',GradientType=0 );

    border-radius: 10px; box-shadow: 17px 17px 20px rgba( 0, 0, 0, 0.5);
    border: 1px solid black;
    margin: 0 auto;
}
#header {min-width: 550px; max-width: 900px; height: 100px; margin:18px;
    background: #eaeced;
    background: -moz-linear-gradient(top,  #eaeced 0%, #cccccc 100%);
    background: -webkit-linear-gradient(top,  #eaeced 0%,#cccccc 100%);
    background: linear-gradient(to bottom,  #eaeced 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeced',
    endColorstr='#cccccc',GradientType=0 );
    border: 1px solid black;
    border-top-right-radius: 10px; border-bottom-right-radius: 10px;
}
#header ul {float: left; }
#header ul li {cursor: wait}


#logotype {height: 96px; margin:2px; float: left; cursor: none;}
#logo {font-size: 20px; cursor: help; font-family: Calibri, helvetica, sans-serif; }

#wrapper {clear: both}

#users { width: 180px; height: 600px; margin: 0 18px;
    background: rgb(204,204,204);
    background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%,
    rgba(234,255,232,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,
    rgba(234,255,232,1) 100%);
    background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,
    rgba(234,255,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc',
    endColorstr='#eaffe8',GradientType=0 );
    border: 1px solid black;
    float: left;border-radius: 10px;
}

#list {width:160px; height:550px; margin:6px 9px 9px 6px; padding: 3px;
    background: rgba(255,255,255,0.5);
    border:1px solid darkblue; border-radius: 10px;}

.chatbox {min-width: 350px; max-width:700px; height: 500px; margin: 18px 18px 18px 218px;
    background: rgb(183,244,178);
    background: -moz-linear-gradient(top,  rgba(183,244,178,1) 2%,
    rgba(183,244,178,1) 2%, rgba(216,249,214,1) 100%, rgba(216,249,214,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(183,244,178,1) 2%,
    rgba(183,244,178,1) 2%,rgba(216,249,214,1) 100%,rgba(216,249,214,1) 100%);
    background: linear-gradient(to bottom,  rgba(183,244,178,1) 2%,
    rgba(183,244,178,1) 2%,rgba(216,249,214,1) 100%,rgba(216,249,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7f4b2',
    endColorstr='#d8f9d6',GradientType=0 );
    border: 1px solid black; border-radius: 10px;
}
#chatbox_1 {min-width: 330px; max-width:680px; height:480px; margin:9px;
    background: rgba(255,255,255,0.5);
    border:1px solid greenyellow; border-radius: 10px;}

#your_text{ min-width: 350px; max-width:700px; height: 82px; margin: 18px 18px 18px 218px;
    border: 1px solid black;
    background: rgb(216,249,214);
    background: -moz-linear-gradient(top,  rgba(216,249,214,1) 0%,
    rgba(183,244,178,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(216,249,214,1) 0%,
    rgba(183,244,178,1) 100%);
    background: linear-gradient(to bottom,  rgba(216,249,214,1) 0%,
    rgba(183,244,178,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8f9d6',
    endColorstr='#b7f4b2',GradientType=0 );
    border-radius: 10px;
}
#your_text ul {margin-top: -10px; float:left}

.comment {margin: -5px 9px 0 9px; background-color: rgba(255,255,255,0.5);
    border-radius: 10px; outline: none;}

.format{ float: left;}

.submit {margin: -9px 0 0 0; cursor: alias;}
.info {cursor: help}

#footer {width: 900px; height: 25px; margin: 36px 18px 18px 18px; clear: both;
    background: -moz-linear-gradient(top,  rgba(192,247,192,0.4) 0%,
    rgba(222,243,249,0.38) 8%, rgba(204,223,232,0.3) 34%, rgba(204,204,204,0.1) 100%);
    background: -webkit-linear-gradient(top,  rgba(192,247,192,0.4) 0%,
    rgba(222,243,249,0.38) 8%,rgba(204,223,232,0.3) 34%,rgba(204,204,204,0.1) 100%);
    background: linear-gradient(to bottom,  rgba(192,247,192,0.4) 0%,
    rgba(222,243,249,0.38) 8%,rgba(204,223,232,0.3) 34%,rgba(204,204,204,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66c0f7c0',
    endColorstr='#1acccccc',GradientType=0 );
}
